= wrap_layout :layout do
  %article.content.is-fluid
    %h2
      = link_to current_article.title, current_article
    %p.subtitle.is-6
      = current_article.date.strftime('%Y.%m.%d')
      \/
      - current_article.tags.each do |tag|
        = link_to tag, tag_path(tag)
      = partial 'social_buttons', locals: { title: current_article.title, url: "#{host}#{current_article.url}" }
    = current_article.body
