- content_for :head do
  - entry_title = "#{current_article.title} | blog.katsuma.tv"
  - entry_description = strip_tags(current_article.summary).gsub("\n", "")

  %meta{ content: entry_title, name: "title" }
  %meta{ content: entry_description, name: "description" }
  %meta{ property: "og:title", content: "blog.katsuma.tv" }
  %meta{ property: "og:type", content: "article" }
  %meta{ property: "og:url", content: "https://#{host}#{current_article.url}" }
  %meta{ property: "og:image", content: "https://#{host}/images/ogp.png" }
  %meta{ property: "og:description", content: entry_description }
  %link{ rel: "amphtml", href: "https://#{host}#{current_article.url}.amp" }

  = partial 'article_schema_data', locals: { article: current_article }

= wrap_layout :layout do
  %article.content.is-fluid
    %h2
      = link_to current_article.title, current_article
    %p.subtitle.is-6
      = current_article.date.strftime('%Y.%m.%d')
      \/
      - current_article.tags.each do |tag|
        = link_to tag, tag_path(tag)
      = partial 'social_buttons', locals: { title: current_article.title, url: "#{host}#{current_article.url}" }
    = current_article.body

  .content.has-text-centered.adsense
    = partial 'adsense'
