!!!5
%html{ xmlns: "http://www.w3.org/1999/xhtml", lang: "ja",  :'xml:lang' => "ja", dir: "ltr",  :'xmlns:og' => "http://ogp.me/ns#", 'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  %head
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport" }
    %meta{ content: "blog.katsuma.tv", name: "title" }
    %meta{ content: "空飛ぶピクニック, フェス, ライブ, イベント, ピクニック", name: "keywords" }
    %meta{ content: "適当に直感で思ったことを何も考えず発信", name: "description" }

    %meta{ property: "og:title", content: "blog.katsuma.tv" }
    %meta{ property: "og:type", content: "article" }
    %meta{ property: "og:url", content: "https://blog.katsuma.tv" }
    %meta{ property: "og:image", content: "https://blog.katsuma.tv/images/ogp.png" }
    %meta{ property: "og:site_name", content: "blog.katsuma.tv" }
    %meta{ property: "og:description", content: "適当に直感で思ったことを何も考えず発信" }
    %meta{ property: "fb:app_id", content: "110236365751632" }

    %title blog.katsuma.tv
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"

    = stylesheet_link_tag 'bundle'

  %body
    %header.nav.section
      .container
        .nav-left
          %h1.title= link_to 'blog.katsuma.tv', '/'

    %section.section
      .container
        = yield

    %hr

    %footer.section
      .container
        .columns
          .content.column
            %h2 Recent Articles
            %ul
              - blog.articles[0...5].each do |article|
                %li
                  = link_to article.title, article

          .content.column
            %h2 By Year
            %ul
              - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
                %li
                  = link_to "#{year} (#{articles.size})", blog_year_path(year)

          .content.column
            .card
              .card-image
                %figure.image.is-2by1
                  = image_tag 'profile-background.jpg'
              .card-content
                .media
                  .media-left
                    %figure.image.is-48x48
                      = image_tag 'me.jpg', alt: 'katsuma'
                  .media-content
                    %p.title.is-4 ryo katsuma
                    %p.subtitle.is-6= link_to "@ryo_katsuma", "https://twitter.com/ryo_katsuma"
                .content
                  Web enginner and Manager at #{link_to "Cookpad Inc.", "https://cookpad.com/"}
                  #{link_to "Twitter", "https://twitter.com/ryo_katsuma/s"} /
                  #{link_to "Facebook", "https://facebook.com/katsuma/"} /
                  #{link_to "Profile", "/2005/05/about.html"}

    -# Facebook
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=110236365751632";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    -# Twitter
    %script{ type: "text/javascript", src: "http://platform.twitter.com/widgets.js", async: true }

    -# hatena
    %script{ type: "text/javascript", src: "https://b.st-hatena.com/js/bookmark_button.js", charset: "utf-8", async: true }

    -# GA
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68351-1', 'auto');
      ga('send', 'pageview');
